entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["npm", "start"]
deploymentTarget = "web"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80
